USER_AGENT="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
OLLAMA_HOST="localhost"

OPENAI_API_KEY="API_KEY"

TAVILY_API_KEY="API_KEY"

GOOGLE_API_KEY="API_KEY"
GOOGLE_CSE_ID="CSE_ID"