[scripts]
tools = "python src/tools.py"
agent = "python src/agent.py"
test = "python src/test.py"

[packages]
langchain = "*"
langchain-community = "*"
langchain-ollama = "*"
beautifulsoup4 = "*"
wikipedia = "*"
google-api-python-client = "*"
langchain-openai = "*"
langgraph = "*"
langchain-huggingface = "*"
ipython = "*"
playsound = "*"
pyobjc = "*"
langchain-anthropic = "*"

[dev-packages]
ipykernel = "*"
